/* 
* https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 
* bootstrap version 3.3.7
*/ 

.navbar-default {
  background-color: #f7f7f7;
  border-color: #ee4b3a;
}
.navbar-default .navbar-brand {
  color: #45b644;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f0c5c6;
}
.navbar-default .navbar-text {
  color: #45b644;
}
.navbar-default .navbar-nav > li > a {
  color: #45b644;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0c5c6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f0c5c6;
  background-color: #ee4b3a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f0c5c6;
  background-color: #ee4b3a;
}
.navbar-default .navbar-toggle {
  border-color: #ee4b3a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ee4b3a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #45b644;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #45b644;
}
.navbar-default .navbar-link {
  color: #45b644;
}
.navbar-default .navbar-link:hover {
  color: #f0c5c6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #45b644;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f0c5c6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f0c5c6;
    background-color: #ee4b3a;
  }
}